In [74]:
import pandas as pd

In [79]:
dfPos = pd.read_csv('positions1d.csv')
dfPos.to_csv('positions1d.csv', index=False)

   Currency  position  quantity  buyPrice  currentPrice  PnLperc
0   UFTBUSD         1    1234.0      56.0          99.0    76.79
1  CTXCBUSD         0       0.0       NaN           NaN      NaN
2   FETBUSD         0       0.0       NaN           NaN      NaN
3  PAXGBUSD         0       0.0       NaN           NaN      NaN
4   TKOBUSD         0       0.0       NaN           NaN      NaN
5   XMRBUSD         0       0.0       NaN           NaN      NaN

In [80]:
dfPos.loc[dfPos['Currency'] == "UFTBUSD", ['quantity', 'buyPrice']] = [float(1234),float(56)]
dfPos

   Currency  position  quantity  buyPrice  currentPrice  PnLperc
0   UFTBUSD         1    1234.0      56.0          99.0    76.79
1  CTXCBUSD         0       0.0       NaN           NaN      NaN
2   FETBUSD         0       0.0       NaN           NaN      NaN
3  PAXGBUSD         0       0.0       NaN           NaN      NaN
4   TKOBUSD         0       0.0       NaN           NaN      NaN
5   XMRBUSD         0       0.0       NaN           NaN      NaN

In [81]:
def changepos(dfPos, curr, order, type, buyPrice=0, currentPrice=0):
    # type = buy, sell or updatePnL

    if type == "buy":
        dfPos.loc[dfPos['Currency'] == curr, 'position'] = 1
        dfPos.loc[dfPos['Currency'] == curr, 'quantity'] = float(order['executedQty'])
        dfPos.loc[dfPos['Currency'] == curr, 'buyPrice'] = float(order['buyPrice'])
    elif type == "sell":
        dfPos.loc[dfPos['Currency'] == curr, 'position'] = 0
        dfPos.loc[dfPos['Currency'] == curr, 'quantity'] = 0
    elif type == "updatePnL":
        pos = dfPos.loc[dfPos['Currency'] == "UFTBUSD"]
        if len(pos) > 0:
            lBuyPrice = pos['buyPrice'].values[0]
            PnLperc = ((currentPrice-lBuyPrice)/lBuyPrice)*100
            PnLperc = round(PnLperc, 2)
            dfPos.loc[dfPos['Currency'] == curr, ['currentPrice','PnLperc']] = [currentPrice,PnLperc]

    dfPos.to_csv('positions1d.csv', index=False)

In [78]:
changepos(dfPos,"UFTBUSD", 0, type="updatePnL", currentPrice=99)

In [28]:
dfPos['Currency'] == "UFTBUSD"

0     True
1    False
2    False
3    False
4    False
5    False
Name: Currency, dtype: bool

In [27]:
buyPrice = dfPos.loc[dfPos['Currency'] == "UFTBUSD",'buyPrice']
print(buyPrice)

0    56.0
Name: buyPrice, dtype: float64

In [7]:

pos.to_csv('positions1d.csv', index=False)

   Currency  Completed        Date
1  PAXGBUSD          1  2022-12-19
2   UFTBUSD          1  2022-12-19
3  CTXCBUSD          1  2022-12-19
5   FETBUSD          1  2022-12-19
6   TKOBUSD          0  2022-12-19
7   XMRBUSD          0  2022-12-19