In [2]:
import requests
import os
import json

telegram_chat_id = os.environ.get('telegram_chat_id')
telegramToken_ClosedPosition = os.environ.get('telegramToken_ClosedPositions') 

document = open("orders1d.csv", "rb")
url = f"https://api.telegram.org/bot{telegramToken_ClosedPosition}/sendDocument"
response = requests.post(url, data={'chat_id': telegram_chat_id}, files={'document': document})
# part below, just to make human readable response for such noobies as I
content = response.content.decode("utf8")
js = json.loads(content)
print(js)

{'ok': True, 'result': {'message_id': 403, 'from': {'id': 5691396466, 'is_bot': True, 'first_name': 'Binance Trader Closed Positions', 'username': 'jptssBT_closedPos_bot'}, 'chat': {'id': 1144450791, 'first_name': 'Jo√£o', 'last_name': 'Silva', 'username': 'jptsantossilva', 'type': 'private'}, 'date': 1674341291, 'document': {'file_name': 'orders1d.csv', 'mime_type': 'text/csv', 'file_id': 'BQACAgQAAxkDAAIBk2PMa6uh0D339ahSuSyhZPbBqgO0AAI1DQAC-LJhUsNC9ZL0boPpLQQ', 'file_unique_id': 'AgADNQ0AAviyYVI', 'file_size': 527}}}

In [34]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import pandas as pd

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/map'
parameters = {
  'start':'1',
  'limit':'5000',
#   'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '84b475f2-b479-42f2-bab6-2407d46bd845',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
#   print(data)

  df = pd.json_normalize(data['data'])
  
  dfaccBullphase = pd.read_csv('coinpairByMarketPhase_BUSD_1d.csv')
  # dfaccBullphase.Coinpair = dfaccBullphase.Coinpair[:-4]
  

  
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [35]:
dfaccBullphase

   Unnamed: 0  Coinpair      Close       50DSMA      200DSMA   MarketPhase
0           0  PAXGBUSD  1794.0000  1746.500000  1736.715000       bullish
1           1   UFTBUSD     0.2966     0.291540     0.254912       bullish
2           2  CTXCBUSD     0.1597     0.108872     0.119728  accumulation
3           3   FETBUSD     0.0874     0.074818     0.085700  accumulation
4           4   TKOBUSD     0.3212     0.266448     0.276812  accumulation
5           5   XMRBUSD   145.3000   141.124000   144.729500  accumulation

In [36]:

dfaccBullphase["Coinpair"] = dfaccBullphase["Coinpair"].str.replace('BUSD','')

dfaccBullphase

   Unnamed: 0 Coinpair      Close       50DSMA      200DSMA   MarketPhase
0           0     PAXG  1794.0000  1746.500000  1736.715000       bullish
1           1      UFT     0.2966     0.291540     0.254912       bullish
2           2     CTXC     0.1597     0.108872     0.119728  accumulation
3           3      FET     0.0874     0.074818     0.085700  accumulation
4           4      TKO     0.3212     0.266448     0.276812  accumulation
5           5      XMR   145.3000   141.124000   144.729500  accumulation

In [37]:
df

,id,name,symbol,slug,rank,displayTV,manualSetTV,tvCoinSymbol,is_active,first_historical_data,last_historical_data,platform,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,1,Bitcoin,BTC,bitcoin,1,1,0,,1,2013-04-28T18:47:21.000Z,2023-01-18T12:19:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Litecoin,LTC,litecoin,14,1,0,,1,2013-04-28T18:47:22.000Z,2023-01-18T12:19:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Namecoin,NMC,namecoin,591,1,0,,1,2013-04-28T18:47:22.000Z,2023-01-18T12:19:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Terracoin,TRC,terracoin,1703,1,0,,1,2013-04-28T18:47:22.000Z,2023-01-18T12:19:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Peercoin,PPC,peercoin,723,1,0,,1,2013-04-28T18:47:23.000Z,2023-01-18T12:19:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,14938,Jade Protocol,JADE,jade-protocol,3842,1,0,,1,2021-11-22T04:39:08.000Z,2023-01-18T12:19:00.000Z,NaN,1839.0,BNB,BNB,bnb,0x7ad7242a99f21aa543f9650a56d141c57e4f6081
4996,14939,Seeded Network,SEEDED,seeded-network,7007,1,0,,1,2022-02-13T13:47:00.000Z,2023-01-18T12:17:00.000Z,NaN,5426.0,Solana,SOL,solana,seedEDBqu63tJ7PFqvcbwvThrYUkQeqT6NLf81kLibs
4997,14941,Harmonylauncher,HARL,harmonylauncher,3537,1,0,,1,2022-02-16T13:35:00.000Z,2023-01-18T12:15:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN
4998,14942,BrowniesSwap,BROWN,browniesswap,8291,1,0,,1,2021-11-24T02:34:07.000Z,2023-01-18T12:19:00.000Z,NaN,1839.0,BNB,BNB,bnb,0x208fe37358d6aa767af66c4d87d5542ee2f35334
4999,14943,Unique Venture Clubs,UNQ,unqclub,4624,1,0,,1,2021-12-26T15:57:20.000Z,2023-01-18T12:17:00.000Z,NaN,5426.0,Solana,SOL,solana,UNQtEecZ5Zb4gSSVHCAWUQEoNnSVEbWiKCi1v9kdUJJ

In [20]:
import pandas as pd
import os
from binance.client import Client

# stake_amount = amount of stake the bot will use for each trade 
# if stake_amount = "unlimited", this configuration will allow increasing/decreasing stakes depending on the performance
# of the bot (lower stake if the bot is losing, higher stakes if the bot has a winning record since higher balances are available), 
# and will result in profit compounding.
stake_amount_type = "unlimited"
# stake_amount_type = 500

# tradable percentage of the balance
# for example: if you want to run 3 bot instances (1h, 4h and 1D), you can set the percentage of the total balance to be allocated to each of the bots.
tradable_balance_ratio = 0.33 # 33%

# max number of open trades
# if tradable balance = 1000 and max_open_positions = 10, the stake_amount = 1000/10 = 100 
max_open_positions = 10

gTimeFrameNum = "1"
gtimeframeTypeShort = "h"

api_key = os.environ.get('binance_api')
api_secret = os.environ.get('binance_secret')

# Binance Client
client = Client(api_key, api_secret)


def get_num_open_positions():
    try:
        df_open_positions = pd.read_csv('positions'+str(gTimeFrameNum)+gtimeframeTypeShort+'.csv')
        df_open_positions = df_open_positions[df_open_positions.position == 1].Currency
        return len(df_open_positions)

    except Exception as e:
        msg = "get_num_open_positions - There was an error: "
        print(msg, e)
        # sendTelegramMessage(eWarning, msg+e)
        return -1

def get_open_positions(df):
    try:
        # df = pd.read_csv('positions'+str(gTimeFrameNum)+gtimeframeTypeShort+'2.csv')
        df_open_positions = df[df.position == 1]
        return df_open_positions

    except Exception as e:
        msg = "get_open_positions - There was an error: "
        print(msg, e)
        # sendTelegramMessage(eWarning, msg+e)
        return -1

def calc_stake_amount(coin):
    if stake_amount_type == "unlimited":
        num_open_positions = get_num_open_positions()

        if num_open_positions == -1:
            return 0
        if num_open_positions >= max_open_positions:
            return 0 

        balance = float(client.get_asset_balance(asset=coin)['free'])
        tradable_balance = balance*tradable_balance_ratio 
        stake_amount = tradable_balance/(max_open_positions-num_open_positions)
        return int(stake_amount)
    elif int(stake_amount_type) >= 0:
        return stake_amount_type
    else:
        return 0

In [21]:
amount = calc_stake_amount("BUSD")
amount

500

In [48]:
df_open_positions = pd.read_csv('positions'+str(gTimeFrameNum)+gtimeframeTypeShort+'.csv')

df_current_open_positions = get_open_positions(df_open_positions)
df_current_open_positions

     Currency  position   quantity  buyPrice  currentPrice  PnLperc
0     BNXBUSD         1    0.85200       NaN           NaN      NaN
1     BTCBUSD         1    0.00746       NaN           NaN      NaN
2     CHZBUSD         1  671.00000       NaN           NaN      NaN
3    MASKBUSD         1   41.40000       NaN           NaN      NaN
4      OPBUSD         1  131.63000       NaN           NaN      NaN
5     PHABUSD         1  698.00000       NaN           NaN      NaN
7   SUSHIBUSD         1   99.40000       NaN           NaN      NaN
8     TWTBUSD         1  104.00000       NaN           NaN      NaN
9     XMRBUSD         1    0.00000       NaN           NaN      NaN
10    TKOBUSD         1    0.00000       NaN           NaN      NaN

In [ ]:
current_open_positions = get_Num_Open_Positions()

def calcPositionSize():
    positionSize = currency_balance/(max_open_positions-current_open_positions)

In [33]:
df_open_positions

NameError: name 'df_open_positions' is not defined